<!DOCTYPE html>

<head>

  <title>
    Silicon Wings
  </title>
  
</head>

<body>
  Choose at least one type of pokemon to search for.
  <br>
  Choosing only one will show you all pokemon of that type.
  <br>
  Choosing two will show you all pokemon of both types.
  <form action="/results" method="GET">
    <select name="type_0">
      <option>Normal</option>
      <option>Fighting</option>
      <option>Flying</option>
      <option>Poison</option>
      <option>Ground</option>
      <option>Rock</option>
      <option>Bug</option>
      <option>Ghost</option>
      <option>Fire</option>
      <option>Water</option>
      <option>Grass</option>
      <option>Electric</option>
      <option>Psychic</option>
      <option>Ice</option>
      <option>Dragon</option>
    </select>

    <select name="type_1">
      <option>None</option>
      <option>Normal</option>
      <option>Fighting</option>
      <option>Flying</option>
      <option>Poison</option>
      <option>Ground</option>
      <option>Rock</option>
      <option>Bug</option>
      <option>Ghost</option>
      <option>Fire</option>
      <option>Water</option>
      <option>Grass</option>
      <option>Electric</option>
      <option>Psychic</option>
      <option>Ice</option>
      <option>Dragon</option>
    </select>
    <button type="submit">Submit</button>
  </form>

</body>

</html>
